﻿@model DiagnosticoMedico.Models.Empleado
@{
    ViewBag.Title = "Index";
}

<div class="col-md-6 col-md-offset-3">
    <br />
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12 clearfix">
                <center>
                    <h3 class="text-center">Inicio de Sesión</h3>
                </center>
            </div>
            <div class="col-md-12">
                @using (Html.BeginForm())
                {
                    <div class="form-horizontal">

                        @if (ViewBag.Error != null)
	                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Error:</strong> @ViewBag.Error
                        </div>
	                    }

                        <div class="form-group">
                            @Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.contrasenia, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.contrasenia, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Iniciar Sesión" class="btn btn-primary pull-right" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



