﻿@model DiagnosticoMedico.Models.Cita

@{
    ViewBag.Title = "Eliminar Cita";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar esto?</h3>
<div>
    <h4>Cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medico.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ELiminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
