﻿@model IEnumerable<DiagnosticoMedico.Models.Cita>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Crear nueva cita", "Create", null, new {@class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Médico
        </th>
        <th>
            Paciente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.Empleado.nombre)
            @Html.DisplayFor(modelItem => item.Medico.Empleado.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.nombre)
            @Html.DisplayFor(modelItem => item.Paciente.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
