﻿@model DiagnosticoMedico.Models.Medico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Médico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.nombre)
        </dd>

        <dt>
            Especialidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
