﻿@if (Session["idUsuario"] == null && !Request.Url.AbsolutePath.Contains("Login/Index"))
{
    Response.Redirect("~/Login/Index");
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Diagnostico Médico</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #c3e3fb;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index"><i class="glyphicon glyphicon-heart"></i> Hospital</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    @if (Session["idUsuario"] == null)
                    {
                        <li class="pull-right"><a href="/Login/Index">Login</a></li>
                    }
                    else
                    {
                        if ((int)Session["tipo"] == 3)
                        {
                            <li><a href="/Citas/Index">Citas</a></li>
                            <li><a href="/Pacientes/Index">Pacientes</a></li>
                        }
                        else if ((int)Session["tipo"] == 2)
                        {
                            <li><a href="/Citas/Index">Citas</a></li>
                            <li><a href="/Expedientes/Index">Expedientes</a></li>
                            <li><a href="/Recetas/Index">Recetas</a></li>
                        }
                        else
                        {
                            <li><a href="/Pacientes/Index">Pacientes</a></li>
                            <li><a href="/Citas/Index">Citas</a></li>
                            <li><a href="/Expedientes/Index">Expedientes</a></li>
                            <li><a href="/Recetas/Index">Recetas</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion Interna<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Empleadoes/Index">Empleados</a></li>
                                    <li><a href="/Especialidads/Index">Especialidades</a></li>
                                    <li><a href="/Medicos/Index">Medicos</a></li>
                                    <li><a href="/Medicamentoes/Index">Medicamentos</a></li>
                                </ul>
                            </li>
                        }
                        
                            <li class="navbar-right pull-right">
                                <a href="/Login/Salir"><strong>@Session["usuario"]</strong>- Cerrar sesión</a>
                            </li>
                    }


                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
