﻿@{
    ViewBag.Title = "Home Page";
}

<div style="clear:both; width: 100%; height:50px;"></div>

<div class="jumbotron">
    <h1>Hospital Diagnóstico Médico</h1>
    <p class="lead">Rodrigo Cerón</p>
    <p class="lead">Fernando Santamaría</p>
    <p class="lead">Gustavo Müller</p>
</div>