﻿@model DiagnosticoMedico.Models.Expediente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>¿Está seguro que desea eliminar esto?</h3>
<div>
    <h4>Expediente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paciente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.problema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.problema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnostico)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
