﻿@model DiagnosticoMedico.Models.Expediente

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Expediente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paciente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.problema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.problema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnostico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
