﻿@model IEnumerable<DiagnosticoMedico.Models.Receta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Expediente.problema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicamento.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dosis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Expediente.problema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicamento.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dosis)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
