﻿@model IEnumerable<DiagnosticoMedico.Models.Paciente>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Crear nuevo paciente", "Create", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm(FormMethod.Get))
{
<div class="form-inline">
    <div class="form-group">
        @Html.Label("buscar", "Buscar paciente: ")
        @Html.TextBox("buscar", "", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-default">Buscar</button>
</div>   
}
<br/>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Dirección
        </th>
        <th>
            Teléfono
        </th>
        <th>
            Fecha Nacimiento
        </th>
        <th>
            Sexo
        </th>
        <th>
            Ocupación
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_nacimiento)
            </td>
            <td>
                @switch (item.sexo)
                {
                    case 1:
                        @Html.Raw("Masculino");
                        break;
                    case 2:
                        @Html.Raw("Femenino");
                        break;
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ocupacion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
